.footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 40px 0;
}

.footer-grid {
  display: flex;
  justify-content: space-between;

  .footer-item {
    display: flex;
    flex-direction: column;

    .subscribe-form {
      display: flex;
      align-items: center;
      .icon {
        margin-left: -40px;
        margin-top: 10px;
        color: var(--text-color);
      }
      .email-input {
        width: 217px;
        max-width: 100%;
        padding: 10px;
        height: 48px;
        border-radius: 4px;
        outline: none;
        background-color: transparent;
        border: 1px solid var(--text-color);
        margin-top: 10px;
        color: var(--text-color);
      }
    }
  }

  .footer-item h6 {
    margin-bottom: 5px;
  }

  .footer-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-item ul li {
    font-size: 14px;
    margin: 5px 0;
  }

  .footer-item ul li a {
    text-decoration: none;
    color: var(--text-color);
  }

  .download-app-imgs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden;
    margin-top: 20px;
    max-width: 200px;
    .img-wrapper {
      width: 70px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
